*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
     display: block;
}


.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form{
    margin-top: 100px;
}


.signup-form input{
    height: 40px;
    padding: 0 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}